# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#Folders
/.vs/
/src/.vs/Calc/
/src/bin/Debug/netcoreapp3.1/
/src/obj/Debug/netcoreapp3.1/
/src/Calculator/bin/Debug/netcoreapp3.1/
/src/Profiling/bin/Debug/netcoreapp3.1/input2.txt
/src/Profiling/bin/Debug/netcoreapp3.1/vystup.txt
